<div *ngIf="car">
    <h2>{{car.model}} details!</h2>
    <div><label>id: </label>{{car.id}}</div>
    <div>
        <form *ngIf="active" #carForm="ngForm">
        <label>Brand: </label>
        <input required
               [(ngModel)]="car.brand"
               pattern="[A-Za-z]+"
               ngControl="brand"  #brand="ngForm"><br>
            <div [hidden]="brand.valid" class="alert alert-danger">
                Brand is invalid</div>
        <label>Model: </label>
        <input required
               [(ngModel)]="car.model" placeholder="model"
               ngControl="model" #model="ngForm" pattern="[a-zA-Z0-9-]+">

            <div [hidden]="model.valid" class="alert alert-danger">
                Model is required</div><br>
        <label>Fuel Consumption: </label>
        <input type="number" step="0.1" min="1.0" required
               [(ngModel)]="car.fuelConsump"
               ngControl="fuelConsump"
               #fuelConsump="ngForm"><br>
            <div [hidden]="fuelConsump.valid" class="alert alert-danger">
                Fuel Consumption must be number!</div>
            <div [hidden]="!carForm.form.valid" class="alert alert-danger">
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
            </div>
        </form>
    </div>
</div>
